* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #595db8;
}
.sortable-list {
  background: #fff;
  width: 445px;
  padding: 30px 25px 20px;
  border-radius: 6px;
}
.sortable-list .item {
  list-style: none;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 11px;
  padding: 10px 13px;
  align-items: center;
  justify-content: space-between;
}
.item .details {
  display: flex;
  align-items: center;
}
.item .details img {
  width: 43px;
  height: 43px;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
}
.item .details span {
  font-size: 1.13rem;
}
.item i {
  color: #474747;
  font-size: 1.13rem;
}
/* 
關於:where偽類
https://wayne-blog.com/2023-02-13/css-where-function/
*/
.item.dragging :where(.details, i) {
  opacity: 0;
}
